{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'expenses/style.css' %}">
</head>
<body>

<div class="auth-wrapper">
    <form method="post" class="auth-card">
        {% csrf_token %}
        <h2>Change Password</h2>

        {{ form.as_p }}

        <button type="submit" class="primary-btn">
            Update Password
        </button>

        <a href="{% url 'account_settings' %}" class="back-link">
            ← Back to Account Settings
        </a>
    </form>
</div>

</body>
</html>
